<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.GtypeMapper">

        <select id="toList" resultType="com.qf.entity.Gtype">
        select *,g2.type as ptype from gtype g1 left join gtype g2 on g1.pid = g2.id
    </select>

        <select id="queryById" resultType="com.qf.entity.Gtype" parameterType="int">
         select *,g2.type as ptype from gtype g1 left join gtype g2 on g1.pid = g2.id where g1.id = #{id}
    </select>
    </mapper>